.container_header_l1 svg {
  fill: var(--color-primary);
  width: 2vw;
  height: 5vh;
}

.container_header_l1 a {
  text-decoration: none;
  margin: 0, 5rem;
  padding: 0, 5rem;
  font-family: system-ui, sans-serif;
  color: var(--color-primary);
}

.container_header_l1 img {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
  filter: hue-rotate(90deg);
}

